html {
  min-height: 100vh;
  max-height: 100vh;
}

body {
  margin: 0;
  height: 100vh;

  background: #eeeeee;
}

.app {
  height: 100vh;
}

.index {
  display: flex;
  height: 100%;
}

.video-results {
  display: flex;
  flex-wrap: wrap;
}

.video {
  width: 320px;

  outline: 5px red solid;
}

.pane-search {
  flex-grow: 1;
  height: 100%;
  overflow: auto;

  outline: 5px blue solid;
}

.pane-list {
  flex-shrink: 0;
  width: 520px;
  height: 100%;
  outline: 5px red solid;
}